* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

/* Estilo para el encabezado y el pie de página */
header, footer {
    background-color: #007bff;
    color: #ffffff;
}

footer {
    background-color: #343a40;
}

/* Añadir algunos márgenes y rellenos */
main {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Imagen en el footer */
footer img {
    width: 50px;
    height: auto;
}

