* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}



header, footer {
    background-color: #007bff;
    color: #ffffff;
}

footer {
    background-color: #343a40;
}


main {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer img {
    width: 50px;
    height: auto;
}


.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

